# Marriage and divorces dataset

In [1]:
# The code was removed by Watson Studio for sharing.

   Period Marriages_or_Divorces   Count
0    2005              Marriages  20718
1    2006              Marriages  21798
2    2007              Marriages  21810
3    2008              Marriages  22275
4    2009              Marriages  21939
5    2010              Marriages  21213
6    2011              Marriages  20532
7    2012              Marriages  20823
8    2013              Marriages  19425
9    2014              Marriages  20175